.container{
	padding: 0;
}

.navbar-search{
	width: 80%;
	margin-right: 20px;
}

.row{
	margin: 0 auto;
	margin-top: 20px;
}

.test{
    margin: 0 auto;
}
.secciones{
/*    height: 300px;*/
    margin-top: 0;
}

@media only screen and (min-width: 768px){
    
    .secciones-wrapper .secciones:nth-child(1){
        padding-top: 20px;
    }
    .secciones{
        height: 500px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
}

.secciones .right-col,
.secciones .left-col{
/*    height: 300px;*/
    padding: 0;
}

.secciones .left-col{
    background-color: #F9F2F2;
    background-color: purple;
    margin-bottom: 10px;
    height: 300px;
}

@media only screen and (min-width: 576px){
    .secciones .left-col{
        height: 300px;
        padding-right: 11px;
        margin-bottom: 10px;
    }
    .secciones .right-col{
        height: 300px;
        padding-left: 11px;
    }    
}

@media only screen and (min-width: 768px){
    .secciones .left-col{
        height: 100%;
    }
    .secciones .right-col{
        height: 100%;
    }    
}

.secciones .right-col .inside{
    
    height: 300px;
}

.secciones .right-col .inside:nth-child(1){
    margin-bottom: 10px;
}

.secciones .right-col .inside:nth-child(2){
    margin-bottom: 10px;
}

@media only screen and (min-width: 576px){
    .secciones .right-col .inside{
        height: 48%;
    }

    .secciones .right-col .inside:nth-child(1){
        margin-bottom: 0;

    }

    .secciones .right-col .inside:nth-child(2){
        margin-bottom: 0;
        margin-top: 4.5%;
    }    
}


@media only screen and (min-width: 768px){
    .secciones .right-col .inside{
        height: 48%
    }

    .secciones .right-col .inside:nth-child(1){
    
    }

    .secciones .right-col .inside:nth-child(2){
        margin-top: 5.1%;
    }
}

@media only screen and (min-width: 992px){
    .secciones .right-col .inside{
        height: 48%;
    }

    .secciones .right-col .inside:nth-child(1){
        
    }

    .secciones .right-col .inside:nth-child(2){
        margin-top: 3.9%;
    }
}

@media only screen and (min-width: 1200px){
    .secciones .right-col .inside{
        height: 48%;
    }

    .secciones .right-col .inside:nth-child(1){
        
    }

    .secciones .right-col .inside:nth-child(2){
        margin-top: 3.3%;
    }
}